<%- include('../partials/01header.ejs') %> 
<br>
<%- include('../partials/02navbar.ejs') %> 
<br>
<h1> Edit Form </h1>

<form action="/user/edit/<%= data.id %>"  method="post">
        <div class="form-group">
            <label for="UserName">Username</label>
            <input type="text" name="username" value="<%= data.username %> ">
            <small class="form-text text-muted">Edit your username here</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password">
        </div>
        
        <input class="btn btn-primary" type="submit" value="SUBMIT">
</form>
    
<%- include('../partials/03footer.ejs') %> 